* {
	font-family: 'Space Mono', monospace;
}

body {
	background-color: #f2dfd7 !important;
}

.addTask {
	margin-left: 1em;
}

.font {
	font-size: 1.3em;
}

.fontTask {
	font-size: 2em;
}

.taskFont {
	font-size: 1em;
}

.nameInput {
	width: 75%;
	max-width: 90em;
	height: 3em;
}

textarea {
	width: 75%;
}

#Assigned {
	height: 3em;
	width: 90%;
}

#newDueDateInput {
	width: 90%;
	height: 3em;
}

#myForm {
	margin-left: 2em;
}

div.row {
	display: flex;
	width: 100%;
}

div.card {
	width: 25em !important;
}

.alignment {
	display: flex;
	justify-content: space-between;
}

.tasks-list {
	background-color: #fef9ff;
	font-size: 3em !important;
}


.addBtn {
	background-color: #9f9fed !important;
	border: 0.1em solid #00241b !important;
	width: 100%;
	margin: 0;
	max-width: 80vw;
}

button.markDOM {
	background-color: #9f9fed !important;
	border: 0.1em solid #00241b !important;
	font-size: 0.8em;
	word-break: break-word;
	max-width: 9em;
}

.delete-button {
	word-break: break-word;
	min-width: 6em;
}

#taskList {
	display: flex;
	align-items: center;
	background-color: #d4c1ec;
	width: 100%;
}

#taskCard {
	background-color: white;
	border-radius: 30px !important;
	width: 80%;
	max-width: 30em;
	height: auto;
	margin: 3em 3em;
}

#error {
	width: 20em;
}

.footer {
	bottom: 0;
	width: 100%;
	height: 2.5rem;   
	text-align: center;
	background-color: #736CED;
}

